@media(max-width:667px) {
    header {
        padding: 5px 15px;
    }
    header nav {
        display: none;
    }
    header .fa-bars {
        display: block;
    }
    .home {
        padding: 60px 5%;
    }
    .home .row .photos {
        flex: 0 0 100%;
        max-width: 100%;
        padding-top: 40px;
    }
    .img {
        max-width: 100%;
    }
    .home .row .block {
        border-left: none;
        margin-top: 30px;
        padding: 10px 10px 0;
        border-top: 3px solid rgba(41, 161, 156, 0.6);
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .row .block h1 {
        font-size: 44px;
    }
    .home .row .block h6 {
        font-size: 18px;
    }
    .home .row .block p {
        font-size: 22px;
        line-height: 40px;
    }
    .home .row .block .button .btn-download,
    .home .row .block .button .btn-contact {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
