@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
main {
    max-width:500px;
    margin: 0 auto;
    border: 1px solid #eee;
}
.container {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* header */
header {
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: center;    
    background: #3B9A9C;
    z-index: 10;

}
.title {
    padding: 10px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FEF4A9;
}
.input-box{
    margin-top: 100px;
    max-width: 100%;
    min-height:200px;
    background:#3B9A9C;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.input-text p {
    font-size:18px;
    color: #FEF4A9;
}
input, button {
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #3b9a9c;
}
button {
    background-color:#78FEE0;
    color: #3B9A9C;
}
.card-box {
    margin: 100px 0px 20px;
}

.card{
    max-width: 100%;
    min-height:200px;
    background: radial-gradient(55.13% 188.64% at 50.07% 51.88%, rgba(75, 194, 197, 0.9) 26.06%, rgba(75, 194, 197, 0.75) 66.37%, rgba(120, 254, 224, 0.9) 86.43%);
    border-radius: 20px;
    display: flex;
    align-items: stretch;
}
.card-content{
    display: flex;
    align-items:center;
    width: 100%;
}
.card-image{
    flex: 0 0 40%;
    max-width: 40%;
    padding-left:5%;
}
.card-image img{
    max-width: 100%;
}
.card-text-container {
    flex: 0 0 60%;
    max-width: 60%;
    height:100%;
    border-radius: 0px 20px 20px 0;
    background:#3B9A9C;
    display: flex;
    align-items: center;
}
.card-text{
    padding: 10px 5px 10px 10px;
}
.greet{
    font-weight: 600;
    color: #FEF4A9;
    font-size: 24px;
    margin-bottom:10px;
}
.eid{
    color: #FEF4A9;
    font-size: 14px;
}

.eid-text {
    padding:30px;
    background: rgba(120, 254, 224, 0.3);
    border-radius: 10px;
    text-align: justify;
    color: #3B9A9C;
    font-size:14px;
}
.text-info{
    margin-bottom: 15px;
}
