@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


/* header +nav */

header {
    position: fixed;
    left: 0px;
    right: 0px;
    border-bottom: 1px;
    padding: 0px 120px;
    background-color: #222831;
}

header .row {
    justify-content: space-between;
    align-items: center;
}

header .row .logo {
    margin: 5px 0 5px 0;
}

header .row .logo img {
    width: 80%;
}

header nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

header nav ul li {
    display: inline-block;
    margin-left: 40px;
    padding: 5px;
}

header nav ul li:hover a {
    color: #fff;
}

header nav ul li a {
    font-size: 18px;
    text-decoration: none;
    line-height: 48px;
    color: #A3F7BF;
    font-weight: 700;
    transition: ease 1.5s;
}

header nav ul li a.call {
    padding: 10px;
    background: rgba(41, 161, 156, 0.8);
}

header nav ul li:hover a.call {
    background-color: #393E46;
}

header .fa-bars {
    font-size: 25px;
    color: #A3F7BF;
    display: none;
}


/* home */

.home {
    min-height: 100vh;
    padding: 10% 120px;
}

.cover {
    background: #fff;
    background-size: cover;
}

.home .row {
    justify-content: space-between;
    align-items: center;
}

.home .row .photos {
    flex: 0 0 40%;
    max-width: 40%;
}

.home .row .photos img {
    max-width: 100%;
}

.home .row .block {
    flex: 0 0 calc(50%-40px);
    max-width: calc(50%-40px);
    /* background-color: red; */
    font-weight: 400;
    padding: 0 0 0 40px;
    border-left: 5px solid rgba(196, 196, 196, 1);
    border-radius: 3px;
}

.home .row .block h6 {
    font-size: 32px;
    color: rgba(34, 40, 49, 1);
}

.home .row .block h1 {
    font-size: 72px;
    color: rgba(41, 161, 156, 1);
    font-weight: 800;
}

.home .row .block p {
    font-size: 32px;
    color: rgba(41, 161, 156, 0.65);
    font-weight: 800;
}

.home .row .block .button {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: space-between;
}

.home .row .block .button .btn-download,
.home .row .block .button .btn-contact {
    display: flex;
    flex: 0 0 45%;
    max-width: 45%;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-radius: 10px;
    transition: all ease 1s;
    position: relative;
}

.home .row .block .button .btn-download a,
.home .row .block .button .btn-contact a {
    text-decoration: none;
    font-size: 22px;
}

.home .row .block .button .btn-download {
    background: rgba(41, 161, 156, 0.75);
    border: 3px solid rgba(41, 161, 156, 1);
    box-shadow: 0px 4px #29A19C;
}

.home .row .block .button .btn-download a {
    color: #fff;
    font-weight: 600;
}

.home .row .block .button .btn-contact a {
    color: #29A19C;
}

.btn-contact {
    border: 3px solid rgba(163, 247, 191, 1);
    background: rgba(163, 247, 191, 0.75);
    box-shadow: 0px 4px rgba(163, 247, 191, 1);
}

.home .row .block .button .btn-download:hover,
.home .row .block .button .btn-contact:hover {
    top: 5px;
    box-shadow: none;
}

.home .row .block .button .btn-contact:hover {
    background: #A3F7BF;
}

.home .row .block .button .btn-download:hover {
    background: #29A19C;
}


/* tentang rafli */

.about {
    min-height: 100vh;
    padding: 0px 120px;
}

.about img {
    flex: 0 0 35%;
    max-width: 35%;
}