@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 100%;
    /* min-height: 100vh; */
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

header{
    padding: 20px 0;
    background:#082032;
    border-bottom: 1px solid #334756;
}
.title{
    color: #FF4C29;
}
.center{
    text-align: center;
}
.white{
    color: white;
}
.input{
    margin: 80px 5%;
    background-color: #334756;
    min-height: 90vh;
    padding: 30px 10px 0;
    border: 3px solid #082032;
    border-radius: 10px;
}
.total-words, .residual-words{
    flex: 0 0 50%;
    max-width: 50%;
}
.character{
    font-size:36px;
    color: #fff;
}
.stats {
    font-size:20px
}
.form{
    width: 100%;
    padding: 30px 20px 0;
}
textarea{
    width: 100%;
    min-height: 300px;
    font-family: Poppins;
    padding: 20px;
    border: 3px solid #fff;
    background-color: #082032;
    color: #fff;  
    font-size: 16px;  
}
.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
button{
    width: 120px; 
    height: 40px;
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid #fff;
    font-weight: 800;
    margin-top: 10px;
    cursor: pointer;
}
.copy{
    background: #FF4C29;
    color: #fff;
}
.delete{
    background: none;
    margin-right: 10px;
    color: #fff;
}
